.geekmark { 

    height: 18px; 
    width: 18px; 
    color: red;
    background:saddlebrown;
   // background-color: green($color: #000000); 
    //border-color: red;
   // background: rebeccapurple;
} 
